/*  */
/* first div*/
.parent
{
    background-image: url('images project/drew-coffman-1872.jpg');
    background-size: 120% 120%;
    height: 620px;
    margin: 1px;
    padding: 1px;
}
.logo
{
    margin-left: 25px;
}
.child
{
    font-size: 25px;
    margin: 200px;
    text-align: center;
    color: white;
}
button
{
    width: 132px;
    height: 56px;
    border: 1px white solid;
    border-radius: 2px;
    color: white;
    background-color: #8e7754;
    font-size: 17px;
}

/* second div*/
.bakery
{
    background-color: white;
}
.child2
{
    margin: 30px;
    text-align: left;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}
.bakery2
{
    background-color:rgb(248, 228, 228);
}

/* 3d div*/
.bakery3
{
    text-align: center;
}
/* 4d div*/
.bakery4
{
}
.child4
{
    text-align: center;
    width: 30%;
    display: inline-block;
    margin: 20px;
}

.imageparent
{
    width: 80%;
}
.decoration
{
    margin: 10px;
    font-size: 20px;
}
.head
{
    font-size: 35px;
}
/* 5d div*/
.bakery5
{
    background-color: darkslategray;
}
.child5
{
    margin: 5px;
    width: 24%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.Social
{
    margin-left: 7px;
    width: 30px;
    height: 30px;
}
/* 6d div*/
.lastbakery
{
    margin: 1px;
    padding: 1px;
    background-color: black;
}
.lastlogo
{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    color: white;
}